<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBusclt3PtY-ec-p_AdNiS-xmS0H-TLlWA",
      authDomain: "ltofirebaseproject-ed078.firebaseapp.com",
      databaseURL: "https://ltofirebaseproject-ed078.firebaseio.com",
      projectId: "ltofirebaseproject-ed078",
      storageBucket: "ltofirebaseproject-ed078.appspot.com",
      messagingSenderId: "73221027025",
      appId: "1:73221027025:web:50374a9b3957bc31a941f0"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>

  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

  <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <title>LTO DAVAO</title>



  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body>


  </div>
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/users/Dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">LTO DAVAO </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/users/Dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">


      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/maps">
          <i class="fas fa-fw fa-cog"></i>
          <span>Maps</span>
        </a>

      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/charts">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Violation Report</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/reports">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Vehicle Violation Report</span>
        </a>

      <!-- Divider -->
      <hr class="sidebar-divider">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/verify" >
          <i class="fas fa-fw fa-folder"></i>
          <span>Verification</i></span>
        </a>
       
        
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/users/announcement">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Announcements</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item active">
        <a class="nav-link" href="/users/accounts">
          <i class="fas fa-fw fa-table"></i>
          <span>Accounts</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <img
        src="https://firebasestorage.googleapis.com/v0/b/epatroldavao.appspot.com/o/design%2FLOGO%20EPATROL.png?alt=media&token=95292922-3097-4e86-8585-ecdbc8b30451"
        width="100%" height="auto">


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter" id="customer1"></span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <div style="overflow-x:auto;">
                  <table id="example2" class="display nowrap">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </tfoot>

                    <tbody>


                    </tbody>
                  </table>
                </div>
                <a class="dropdown-item text-center small text-gray-500" href="/users/verify">Show All Alerts</a>
              </div>
            </li>


            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter" id="message"></span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <div style="overflow-x:auto;">
                  <table id="example3" class="display nowrap">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </tfoot>

                    <tbody>


                    </tbody>
                  </table>
                </div>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

                    <div class="topbar-divider d-none d-sm-block"></div>
  
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>






            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">LTO ADMIN</span>
                <img class="img-profile rounded-circle"
                  src="https://firebasestorage.googleapis.com/v0/b/epatroldavao.appspot.com/o/design%2FLOGO%20EPATROL.png?alt=media&token=95292922-3097-4e86-8585-ecdbc8b30451">
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Accounts</h1>
            <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">ADD
              ACCOUNT</button>
          </div>

          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-4">Upload Image:</div>

                    <div class="col-md-8">
                      <input type="file" accept="image/*" capture="camera" id="cameraInput">
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-sm-4"></div>

                    <div class="col-md-8">
                      <progress id="uploader" class="progress-bar progress-bar-success" style="margin-top:5px;"
                        value="0" max="100">0%</progress>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-4">Name:</div>
                    <div class="col-md-8"><input type="text" name="name" id="name" placeholder="Name"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">Password:</div>
                    <div class="col-md-8"><input type="password" name="password" id="password" placeholder="Password">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">Retype Password:</div>
                    <div class="col-md-8"><input type="password" name="retype" id="retype"
                        placeholder="Retype Password">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">Email:</div>
                    <div class="col-md-8"><input type="text" name="email" id="email" placeholder="Email"></div>
                  </div>
                  <h2 id='result'></h2>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">Contact:</div>
                    <div class="col-md-8"><input type="text" name="contact" id="contact" placeholder="Contact"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">Address:</div>
                    <div class="col-md-8"><input type="text" name="address" id="address" placeholder="Address"></div>
                  </div>
                  <br>
                </div>
                <div class="modal-footer">
                  <button id="myBtn" class="btn btn-success" onclick="Send(0,'add')">Add Admin</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>






          <div class="modal fade" id="modal2" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <!-- <div class="row">
                    <div class="col-sm-4">Upload Image:</div>

                    <div class="col-md-8">
                      <input type="file" accept="image/*" capture="camera" id="cameraInputs">
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-sm-4"></div>

                    <div class="col-md-8">
                      <progress id="uploaders" class="progress-bar progress-bar-success" style="margin-top:5px;"
                        value="0" max="100">0%</progress>
                    </div>

                  </div> -->
                  <div class="row">
                    <div class="col-sm-4">Name:</div>
                    <div class="col-md-8"><input type="text" name="names" id="names" placeholder="Name"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">Password:</div>
                    <div class="col-md-8"><input type="password" name="passwords" id="passwords" placeholder="Password">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">Retype Password:</div>
                    <div class="col-md-8"><input type="password" name="retypes" id="retypes"
                        placeholder="Retype Password">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">Email:</div>
                    <div class="col-md-8"><input type="text" name="emails" id="emails" placeholder="Email">
                      <input type="hidden" name="hidden" id="hidden" placeholder="Email"></div>
                  </div>
                  <h2 id='result'></h2>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">Contact:</div>
                    <div class="col-md-8"><input type="text" name="contacts" id="contacts" placeholder="Contact"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">Address:</div>
                    <div class="col-md-8"><input type="text" name="addresss" id="addresss" placeholder="Address"></div>
                  </div>
                  <br>
                </div>
                <div class="modal-footer">
                  <button id="myBtn" class="btn btn-warning" onclick="update()">Update</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>


        </div>

        <div class="table-responsive">

          <div class="container">
            <table id="example1" class="display nowrap" width="100%">
              <thead>
                <tr>
                  <th style='border-top-left-radius: 15px 20px;'>Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Contact</th>
                  <th>Status</th>
                  <th>Type</th>
                  <th>Registration Date</th>
                  <th style='border-top-right-radius: 15px 20px;'>Action</th>

                </tr>
              </thead>

              <tfoot>
                <tr>
                  <th style='border-bottom-left-radius: 15px 20px;'>Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Contact</th>
                  <th>Status</th>
                  <th>Type</th>
                  <th>Registration Date</th>
                  <th style='border-bottom-right-radius: 15px 20px;'>Action</th>

                </tr>
              </tfoot>

              <tbody>


              </tbody>
            </table>
            <br>
          </div>
        </div>

        <!--/table-->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" onclick="logout()" href="/users/login">Logout</a>
          </div>
        </div>
      </div>
    </div>

   
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->

  <script type="text/javascript" src="/js/chart/fusioncharts.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
    integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>




        <script>
          let a = '';
          let firstFile = '';
          var uploader = document.getElementById('uploader');
          let fileUpload = document.getElementById("cameraInput");
          fileUpload.addEventListener('change', function (evt) {
            firstFile = evt.target.files[0];
            var storageRef = firebase.storage().ref('UserImages/' + firstFile.name);
            let uploadTask = storageRef.put(firstFile);
            uploadTask.on('state_changed', function (snapshot) {
              // Observe state change events such as progress, pause, and resume
              // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
              switch (snapshot.state) {
                case firebase.storage.TaskState.PAUSED: // or 'paused'
                  console.log('Upload is paused');
                  break;
                case firebase.storage.TaskState.RUNNING: // or 'running'
                  console.log('Upload is running');
                  var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                  uploader.value = percentage;
                  break;
              }
            }, function (error) {
              // Handle unsuccessful uploads
            }, function () {
              // Handle successful uploads on complete
              // For instance, get the download URL: https://firebasestorage.googleapis.com/...
              uploadTask.snapshot.ref.getDownloadURL().then(function (downloadURL) {
                console.log('File available at', downloadURL);
                a = downloadURL;
              });
            });
          })


          function Send() {
            var email = document.getElementById('email').value;
            var name = document.getElementById('name').value;
            var password = document.getElementById('password').value;
            var retype = document.getElementById('retype').value;
            var contact = document.getElementById('contact').value;
            var address = document.getElementById('address').value;
            console.log('Email: ' + email + 'name :' + name + 'password' + password + 'retype' + retype + 'contact' + contact + 'addreess' + address)
            validate(email);
            var d = new Date();
            var month = (d.getMonth() + 1);
            var finalmonth = '';
            if (month < 10) {
              finalmonth = "0" + month;
            }

            var datestring = d.getDate() + "-" + finalmonth + "-" + d.getFullYear() + " " +
              d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();

            if (email.length == 0 || name.length == 0 || contact.length == 0 || address.length == 0 || password.length == 0 || retype.length == 0) {
              alert("Please fill in all fields");
            } else if (password != retype) {
              alert("Password does not match");
            } else if (password.length < 6) {
              alert("Minimum password length is 6");
            } else if (a.length == 0) {
              alert("Upload an Image")
            } else {
              const auth = firebase.auth();
              auth.createUserWithEmailAndPassword(email, password).then(cred => {
                console.log(cred.message);
              }, error => {
                alert("The email address is already in use by another account");
              });
              var rootRef = firebase.database().ref();
              var storesRef = rootRef.child('Users');
              var newStoreRef = storesRef.push();
              newStoreRef.set({
                address: address,
                contact: contact,
                date: datestring,
                id: 0,
                img: a,
                name: name,
                email: email,
                status: 'Active',
                type: 'Admin',
                password: password
              });
              let keyG = newStoreRef.key;
              document.getElementById('email').value = '';
              document.getElementById('name').value = '';
              document.getElementById('password').value = '';
              document.getElementById('retype').value = '';
              document.getElementById('contact').value = '';
              document.getElementById('address').value = '';
            }


          }
        </script>
        <script type="text/javascript">
          $(document).ready(function () {
          
            $('#example').DataTable({
              dom: 'Bfrtip',
              "processing": true,
              "serverSide": true,
              buttons: [
                'pageLength',
                'print',
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'

              ]
            });
          });

        </script>
        <script>
          function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
          }

          function validate() {
            var $result = $("#result");
            var email = $("#email").val();
            $result.text("");

            if (validateEmail(email)) {
              $result.text(email + " is valid");
              $result.css("color", "green");
            } else {
              $result.text(email + " is not valid ");
              $result.css("color", "red");
            }
            return false;
          }

          $("#validate").on("click", validate);
        </script>

        <script>
          function update() {
            var email = document.getElementById('emails').value;
            var name = document.getElementById('names').value;
            var password = document.getElementById('passwords').value;
            var retype = document.getElementById('retypes').value;
            var contact = document.getElementById('contacts').value;
            var address = document.getElementById('addresss').value;
            var hidden = document.getElementById('hidden').value;
            console.log(password)
            var d = new Date();
            var month = (d.getMonth() + 1);
            var finalmonth = '';
            if (month < 10) {
              finalmonth = "0" + month;
            }

            var datestring = d.getDate() + "-" + finalmonth + "-" + d.getFullYear() + " " +
              d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();

            if (email.length == 0 || name.length == 0 || contact.length == 0 || address.length == 0 || password.length == 0 || retype.length == 0) {
              alert("Please fill in all fields");
            } else if (password != retype) {
              alert("Password does not match");
            } else if (password.length < 6) {
              alert("Minimum password length is 6");
            } else {
              if (email != hidden) {
                const auth = firebase.auth();
                auth.createUserWithEmailAndPassword(email, password).then(cred => {
                  console.log(cred.message);
                }, error => {
                  alert("The email address is already in use by another account");
                });
              }

              var query = firebase.database().ref('Users').orderByChild('email')
                .equalTo(hidden);
              query.once("child_added", function (snapshot) {
                snapshot.ref.update({ password: password, address: address, email: email, name: name, contact: contact })

              });

              document.getElementById('email').value = '';
              document.getElementById('name').value = '';
              document.getElementById('password').value = '';
              document.getElementById('retype').value = '';
              document.getElementById('contact').value = '';
              document.getElementById('address').value = '';
            }
          }
        </script>


        <script type="text/javascript">
          $(document).ready(function () {
            var a = 0;
            var table = $('#example1').DataTable({
              dom: 'Bfrtip',
              buttons: ['pageLength', 'copy', {
                extend: 'csvHtml5',
                exportOptions: {
                  columns: [0, 1, 2, 3, 4, 5]
                }
              }, {
                  extend: 'excelHtml5',
                  exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5]
                  }
                }, {
                  extend: 'pdfHtml5',
                  exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5]
                  }
                }, {
                  extend: 'print',
                  exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5]
                  }
                }],

            });

            var rootRef = firebase.database().ref().child("Users").orderByChild('type')
            rootRef.on("child_added", snap => {
              var id = snap.key;
              var name = snap.child("name").val();
              var email = snap.child("email").val();
              var address = snap.child("address").val();
              var contact = snap.child("contact").val();
              var status = snap.child("status").val();
              var type = snap.child("type").val();
              var date = snap.child("date").val();
              var ref = firebase.database().ref("Chats/" + id).orderByChild("status")
            .equalTo("unread");
              ref.once("value")
                .then(function (snapshot) {
                 snapshot.numChildren(); 
                 var dataSet = [name, email, address, contact, status, type, date, "<font color='red' size='4' style='margin-right:5px;'>"+snapshot.numChildren()+"</font>" + '<a href="/users/chats?' + snap.key + '" target="_blank" class="btn btn-info">Chat</a>' + '<button class="btn btn-warning" onclick="approve(\'' + email + '\')" data-toggle="modal"  style="margin-left:5px;" data-target="#modal2">Update</button>'];
              table.rows.add([dataSet]).draw();
                });
              
            });


          });

          function returnvalue(id) {
            var a = 0
            var ref = firebase.database().ref("Chats/" + id);
            ref.once("value")
              .then(function (snapshot) {
                snapshot.forEach(function (childSnapshot) {
                  var value = childSnapshot.val();
                  console.log(value)
                  if (value.status == "unread") {
                    a += 1;
                    return "1";
                  } else {
                    return "0";
                  }
                });
              });
          }
        </script>
        <script>
          function approve(email) {
            var rootRef = firebase.database().ref().child("Users").orderByChild('email')
              .equalTo(email);
            rootRef.on("child_added", snap => {
              document.getElementById('names').value = snap.child("name").val();
              document.getElementById('emails').value = snap.child("email").val();
              document.getElementById('hidden').value = snap.child("email").val();
              document.getElementById('addresss').value = snap.child("address").val();
              document.getElementById('contacts').value = snap.child("contact").val();
              document.getElementById('passwords').value = snap.child("password").val();
              document.getElementById('retypes').value = snap.child("password").val();

            });
          }
        </script>

        <script>
          function Chat(id) {
            window.location = "./users/chats?" + id;
          }
        </script>


  

  <script type="text/javascript">
    $(document).ready(function () {
      renderNotifications();
      renderMessage();
    });
 
  </script>
  <script>
    function logout() {
      firebase.auth().signOut().then(function () {
        window.location = "/users/login";

      }).catch(function (error) {
        // An error happened.
      });
    }
  </script>


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


  <script>
    $(document).ready(function () {
      var b = 0, a = 0;
      var rootRef = firebase.database().ref().child("Users").orderByChild('type');
      rootRef.on("child_added", snap => {
        var id = snap.key;
        var ref = firebase.database().ref("Reports/" + id).orderByChild("status")
          .equalTo("pending");
        ref.once("value")
          .then(function (snapshot) {
            b += snapshot.numChildren(); // 1 ("name")
            const preObject1 = document.getElementById('customer1');
            preObject1.innerText = b;
          });

      });

      var rootRef = firebase.database().ref().child("Users").orderByChild('type');
      rootRef.on("child_added", snap => {
        var id = snap.key;
        var ref = firebase.database().ref("Chats/" + id);
        ref.once("value")
          .then(function (snapshot) {
            snapshot.forEach(function (childSnapshot) {
              var value = childSnapshot.val();
              if (value.status == "unread") {
                a += 1;

                const preObject2 = document.getElementById('message');
                preObject2.innerText = a;
              }
            });
          });

      });

    });

  </script>
<script>
function renderMessage(){
  var i = 0;
      var table = $('#example3').DataTable({
        dom: 'Bfrtip',
        destroy: true,
        "bFilter": false,
        "bPaginate": false,
        "bInfo": false,
        buttons: [],
        "order": [[1, "asc"]],
        "columnDefs": [
          {
            "targets": [1],
            "visible": false,
            "searchable": false
          }
        ]

      });
      var rootRef1 = firebase.database().ref().child("Users").orderByChild('type');
      rootRef1.on("child_added", snap => {

        var id = snap.key;
        var name = snap.child("name").val();
        var rootRef1 = firebase.database().ref();
        var urlRef1 = rootRef1.child("Chats/" + id).orderByChild("dtime")
          .limitToLast(3);
        urlRef1.once("value", function (snapshot) {
          snapshot.forEach(function (child) {
            

            var children = child.val();
            var message = children.message;
            var date = children.dtime;
            
            
            if (children.receiver == 0) {
              i++;
            }
            if (i <= 3 && children.receiver == 0) {
              var ok = '<div><p>' + message + '<br><b><font size="1">'+name+'</font></b><span style="float:right;margin-left:5px;"><font size="1">'+date+'</span></font></p></div>';
              var dataSet = [ok, date];
              table.rows.add([dataSet]).draw();
            }

          });
        });
      });
}
function renderNotifications() {
      var i = 0;
      var table = $('#example2').DataTable({
        dom: 'Bfrtip',
        destroy: true,
        "bFilter": false,
        "bPaginate": false,
        "bInfo": false,
        buttons: [],
        "order": [[1, "asc"]],
        "columnDefs": [
          {
            "targets": [1],
            "visible": false,
            "searchable": false
          }
        ]

      });
      var rootRef1 = firebase.database().ref().child("Users").orderByChild('type');
      rootRef1.on("child_added", snap => {

        var id = snap.key;
        var name = snap.child("name").val();
        var rootRef1 = firebase.database().ref();
        var urlRef1 = rootRef1.child("Reports/" + id).orderByChild("dtime")
          .limitToLast(3);
        urlRef1.once("value", function (snapshot) {
          snapshot.forEach(function (child) {

            var children = child.val();
            var violation = children.title;
            var date = children.dtime;
            var desc = children.desc;
            var car = children.cartype;
            if (children.status == 'pending') {
              i++;
            }
            if (car == undefined) {
              car = 'Undefined';
            }
            if (i <= 3) {
              var ok = '<div><p>' + date + '</br><b>' + name + '</b> sent a ' + violation + ' report.</p></div>';
              var dataSet = [ok, date];
              table.rows.add([dataSet]).draw();
            }

          });
        });
      });
    }
</script>
</body>

</html>