<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBusclt3PtY-ec-p_AdNiS-xmS0H-TLlWA",
    authDomain: "ltofirebaseproject-ed078.firebaseapp.com",
    databaseURL: "https://ltofirebaseproject-ed078.firebaseio.com",
    projectId: "ltofirebaseproject-ed078",
    storageBucket: "ltofirebaseproject-ed078.appspot.com",
    messagingSenderId: "73221027025",
    appId: "1:73221027025:web:50374a9b3957bc31a941f0"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
  
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet">
  
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


  <title>LTO DAVAO</title>
  
  
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body>


      </div>
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/users/Dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">LTO DAVAO </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="/users/Dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="/users/maps" >
          <i class="fas fa-fw fa-cog"></i>
          <span>Maps</span>
        </a>
        
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/charts">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Violation Report</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/reports">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Vehicle Violation Report</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/verify" >
          <i class="fas fa-fw fa-folder"></i>
          <span>Verification</i></span>
        </a>
       
        
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/users/announcement">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Announcements</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="/users/accounts">
          <i class="fas fa-fw fa-table"></i>
          <span>Accounts</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <img src="https://firebasestorage.googleapis.com/v0/b/epatroldavao.appspot.com/o/design%2FLOGO%20EPATROL.png?alt=media&token=95292922-3097-4e86-8585-ecdbc8b30451" width="100%" height="auto">
  
      <!-- Sidebar Toggler (Sidebar) -->
      

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

         

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter" id="customer1"></span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <div style="overflow-x:auto;">
                  <table id="example2" class="display nowrap">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </tfoot>

                    <tbody>


                    </tbody>
                  </table>
                </div>
                <a class="dropdown-item text-center small text-gray-500" href="/users/verify">Show All Alerts</a>
              </div>
            </li>


            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter" id="message"></span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <div style="overflow-x:auto;">
                  <table id="example3" class="display nowrap">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </tfoot>

                    <tbody>


                    </tbody>
                  </table>
                </div>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

<!-- Nav Item - Alerts -->

<!-- Nav Item - Messages -->

 <div class="topbar-divider d-none d-sm-block"></div>


            
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">LTO ADMIN</span>
                <img class="img-profile rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/epatroldavao.appspot.com/o/design%2FLOGO%20EPATROL.png?alt=media&token=95292922-3097-4e86-8585-ecdbc8b30451">
                    </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
           
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->


        
        
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" onclick="logout()" href="/users/login">Logout</a>
        </div>
      </div>
    </div>
  </div>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">MAPS</h1>
          
          </div>

          <div id="map-canvas" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;"></div>
 

<!-- googleapi -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC70koVYrd7Hw2cB0kH26Kx2YXBXLRILI4"></script>
<!-- Argon JS    AIzaSyBd3PjUqq81lIOfBPYXrQGWwK5T4ystZjA-->
<script src="../assets/js/argon.js?v=1.0.0"></script>
<script>


var $map = $('#map-canvas'),
  map,
  lat,
  lng,
  color = "#5e72e4";

function initMap() {

  map = document.getElementById('map-canvas');
  lat = map.getAttribute('data-lat');
  lng = map.getAttribute('data-lng');
  
  var myLatlng =  new google.maps.LatLng(7.1425776, 125.6252269);
  var mapOptions = {
      zoom: 14,
      scrollwheel: false,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":color},{"visibility":"on"}]}]
  }

  map = new google.maps.Map(map, mapOptions);
  var rootRef = firebase.database().ref().child("Users").orderByChild('type')  
rootRef.on("child_added",snap => {
    
        var id=snap.key;  

        console.log(id);

  var rootRef = firebase.database().ref();
  var urlRef = rootRef.child("Reports/"+id).orderByChild('status').equalTo('done')
urlRef.once("value", function(snapshot) {
snapshot.forEach(function(child) {

  var ids=child.key;  
  var children=child.val();
      console.log(children);
 
var marker = new google.maps.Marker({
        position: {lat: parseFloat(children.latitude), lng: parseFloat(children.longitude)},
        map: map
        });
        google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map, marker);
  });
  if(children.filetype!='Video'){
  var contentString ='<div class="info-window-content"><img src="'+children.image+'" style="display: block;width:200px;margin-left:auto;margin-right:auto;height="200"><h2>'+ children.title+'</h2>' +
    '<p>Description: '+children.desc+'.</p><p>Car Type: '+children.cartype+'.</p></div>';
  
}else{
  var contentString ='<div class="info-window-content"><video width="250" height="250" controls><source src="'+children.image+'" type="video/ogg"></video><h2>'+ children.title+'</h2>' +
    '<p>Description: '+children.desc+'.</p><p>Car Type: '+children.cartype+'.</p></div>';
}

  var infowindow = new google.maps.InfoWindow({
      content: contentString
  }); 
});
});

     });
  
    
  
}

if($map.length) {
  google.maps.event.addDomListener(window, 'load', initMap);
}
</script>
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Core plugin JavaScript-->
 <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

 <!-- Custom scripts for all pages-->
 <script src="js/sb-admin-2.min.js"></script>

 <!-- Page level plugins -->
 <script src="vendor/chart.js/Chart.min.js"></script>

 <!-- Page level custom scripts -->

 <script type="text/javascript" src="/js/chart/fusioncharts.js"></script>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
   integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
   crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
   integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
   crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
   integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
   crossorigin="anonymous"></script>


 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
 <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
 <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>



 

 <script type="text/javascript">
   $(document).ready(function () {
     renderNotifications();
     renderMessage();
   });

 </script>
 <script>
   function logout() {
     firebase.auth().signOut().then(function () {
       window.location = "/users/login";

     }).catch(function (error) {
       // An error happened.
     });
   }
 </script>


 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


 <script>
   $(document).ready(function () {
     var b = 0, a = 0;
     var rootRef = firebase.database().ref().child("Users").orderByChild('type');
     rootRef.on("child_added", snap => {
       var id = snap.key;
       var ref = firebase.database().ref("Reports/" + id).orderByChild("status")
         .equalTo("pending");
       ref.once("value")
         .then(function (snapshot) {
           b += snapshot.numChildren(); // 1 ("name")
         
           const preObject1 = document.getElementById('customer1');
           preObject1.innerText = b;
         });

     });

     var rootRef = firebase.database().ref().child("Users").orderByChild('type');
     rootRef.on("child_added", snap => {
       var id = snap.key;
       var ref = firebase.database().ref("Chats/" + id);
       ref.once("value")
         .then(function (snapshot) {
           snapshot.forEach(function (childSnapshot) {
             var value = childSnapshot.val();
             if (value.status == "unread") {
               a += 1;

               const preObject2 = document.getElementById('message');
               preObject2.innerText = a;
             }
           });
         });

     });

   });

 </script>
<script>
function renderMessage(){
 var i = 0;
     var table = $('#example3').DataTable({
       dom: 'Bfrtip',
       destroy: true,
       "bFilter": false,
       "bPaginate": false,
       "bInfo": false,
       buttons: [],
       "order": [[1, "asc"]],
       "columnDefs": [
         {
           "targets": [1],
           "visible": false,
           "searchable": false
         }
       ]

     });
     var rootRef1 = firebase.database().ref().child("Users").orderByChild('type');
     rootRef1.on("child_added", snap => {

       var id = snap.key;
       var name = snap.child("name").val();
       var rootRef1 = firebase.database().ref();
       var urlRef1 = rootRef1.child("Chats/" + id).orderByChild("dtime")
         .limitToLast(3);
       urlRef1.once("value", function (snapshot) {
         snapshot.forEach(function (child) {
           

           var children = child.val();
           var message = children.message;
           var date = children.dtime;
           
           
           if (children.receiver == 0) {
             i++;
           }
           if (i <= 3 && children.receiver == 0) {
             var ok = '<div><p>' + message + '<br><b><font size="1">'+name+'</font></b><span style="float:right;margin-left:5px;"><font size="1">'+date+'</span></font></p></div>';
             var dataSet = [ok, date];
             table.rows.add([dataSet]).draw();
           }

         });
       });
     });
}
function renderNotifications() {
     var i = 0;
     var table = $('#example2').DataTable({
       dom: 'Bfrtip',
       destroy: true,
       "bFilter": false,
       "bPaginate": false,
       "bInfo": false,
       buttons: [],
       "order": [[1, "asc"]],
       "columnDefs": [
         {
           "targets": [1],
           "visible": false,
           "searchable": false
         }
       ]

     });
     var rootRef1 = firebase.database().ref().child("Users").orderByChild('type');
     rootRef1.on("child_added", snap => {

       var id = snap.key;
       var name = snap.child("name").val();
       var rootRef1 = firebase.database().ref();
       var urlRef1 = rootRef1.child("Reports/" + id).orderByChild("dtime")
         .limitToLast(3);
       urlRef1.once("value", function (snapshot) {
         snapshot.forEach(function (child) {

           var children = child.val();
           var violation = children.title;
           var date = children.dtime;
           var desc = children.desc;
           var car = children.cartype;
           if (children.status == 'pending') {
             i++;
           }
           if (car == undefined) {
             car = 'Undefined';
           }
           if (i <= 3) {
             var ok = '<div><p>' + date + '</br><b>' + name + '</b> sent a ' + violation + ' report.</p></div>';
             var dataSet = [ok, date];
             table.rows.add([dataSet]).draw();
           }

         });
       });
     });
   }
</script>
</body>

</html>